@import "tailwindcss";

@theme {

  --animate-scalePulse: scalePulse 2s ease-in-out infinite;
  @keyframes scalePulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.025); /* slightly bigger */
    }
  }

 
  --animate-popOpen: popOpen 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
  @keyframes popOpen {
    0% {
      transform: scale(0.95);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@font-face {
  font-family: Brave81;
  src: url("/assets/fonts/Brave81.ttf");
}

@font-face {
  font-family: crossFly;
  src: url("/assets/fonts/crossFly.otf");
}


@font-face {
  font-family: fastLines;
  src: url("/assets/fonts/fastLines.otf");
}

@font-face {
  font-family: kingWarrior;
  src: url("/assets/fonts/kingWarrior.otf");
}

@font-face {
  font-family: novega;
  src: url("/assets/fonts/novega.ttf");
}

@font-face {
  font-family: speedPixel;
  src: url("/assets/fonts/speedPixel.ttf");
}

@font-face {
  font-family: speedPixelItalic;
  src: url("/assets/fonts/speedPixelItalic.ttf");
}

@font-face {
  font-family: vermin;
  src: url("/assets/fonts/vermin.ttf");
}


